<% layout('layouts/boilerplate')%>

<section class="container u-margin-top-big">
    <h3 class="secondary-heading mb-5">Listings</h3>

    <div class="service">
        <% for( let listing of listings) { %>
        <div class="service__information">
            <div class="service__information-image">
                <img class="img-fluid" src="<%= listing.listingImage.url %> " alt="">
            </div>
            <div class="service__information-text service__information-content row">

                <div class="service__information-name">
                    <p>
                        <img src="https://img.icons8.com/material-outlined/24/237a57/tag-window.png" />

                        <%= listing.title%>
                    </p>
                </div>
                <div class="service__information-location">
                    <p>
                        <img src="https://img.icons8.com/material/24/237a57/worldwide-location--v1.png" />

                        <%= listing.location%>
                    </p>
                </div>
                <div class="service__information-realtor">
                    <p>
                        <img src="https://img.icons8.com/material-outlined/24/237a57/user--v1.png" />
                        <%= listing.realtor %>
                    </p>
                </div>
                <div class="service__information-price">
                    <p>
                        <img src="https://img.icons8.com/material-outlined/24/237a57/us-dollar-circled--v1.png" />
                        <%= listing.price%>
                    </p>
                </div>


            </div>

            <a class="card-button" href="<%= listing._id%> ">View</a>

        </div>
        <% } %>


        <div class="back-button u-margin-top-huge">
            <a class="about-button back-button-btn" href="/">Back</a>

        </div>
    </div>
</section>